# 🛑 Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
debug.log
error.log
!logs/.gitkeep

# 🛑 Node Modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.env
.dev.env
.env.dev
demo
.trae